API_RTE.json
[{"id":"f3082183.de19d","type":"tab","label":"API RTE","disabled":false,"info":""},{"id":"bf4a693.83e1d98","type":"inject","z":"f3082183.de19d","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":158.61901664733887,"y":725.6428203582764,"wires":[["5047c43d.1cea7c"]]},{"id":"5047c43d.1cea7c","type":"oauth2","z":"f3082183.de19d","name":"","container":"payload","access_token_url":"https://digital.iservices.rte-france.com/token/oauth","grant_type":"client_credentials","username":"","password":"","client_id":"fa2543e8-67dc-4f9b-9fca-93aa30abdaf5","client_secret":"96bfec6d-d1e8-4f45-a3ad-03bc47d64525","scope":"","x":318.5118408203125,"y":725.5356750488281,"wires":[["69817b94.11e434"]]},{"id":"f07b5d57.9fa9","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":690.1785888671875,"y":728.3571166992188,"wires":[["31cf6d51.383f72"]]},{"id":"69817b94.11e434","type":"function","z":"f3082183.de19d","name":"Prepare request","func":"msg.method=\"GET\";\nmsg.url=\"https://digital.iservices.rte-france.com/open_api/actual_generation/v1/actual_generations_per_production_type\";\nvar token=msg.payload.authorization\nmsg.headers={\n    \"Authorization\":token\n};\nreturn msg;","outputs":1,"noerr":0,"x":493.6190719604492,"y":726.071400642395,"wires":[["f07b5d57.9fa9"]]},{"id":"31cf6d51.383f72","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"","pretty":false,"x":852.3618011474609,"y":728.9571504592896,"wires":[["cb3173b2.006e7","bed0d0a3.d3a08","48dec762.86d728","29ef23c0.98afac","24f6f68c.694e8a","59bc8ca9.f101a4","21c84cb9.e24804","72bfaa16.23ecb4","33566a1.821de96","f906fb11.1f17c8","a0d2bcb6.21e58","5bbbb605.83ff08"]]},{"id":"221bd8f5.89a858","type":"comment","z":"f3082183.de19d","name":"API RTE","info":"The API is linked to the account Dmytro DUDKA\n","x":325.65470695495605,"y":646.5714015960693,"wires":[]},{"id":"cb3173b2.006e7","type":"function","z":"f3082183.de19d","name":"Forecasted one hour average power generation","func":"\nvar last_value=msg.payload.actual_generations_per_production_type[0].values.length;\nvar start_date=msg.payload.actual_generations_per_production_type[0].values[last_value-1].start_date;\nvar end_date=msg.payload.actual_generations_per_production_type[0].values[last_value-1].end_date;\nvar date=\"average power generation from \"+start_date + \" to \" + end_date;\nmsg.payload=date;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1266.3095703125,"y":417.04766845703125,"wires":[["8eaa24cf.734c28"]]},{"id":"8eaa24cf.734c28","type":"ui_text","z":"f3082183.de19d","group":"7fe0a28c.f0eeec","order":1,"width":13,"height":2,"name":"","label":"Time Slot","format":"{{msg.payload}}","layout":"row-spread","x":1641.16650390625,"y":415.66668701171875,"wires":[]},{"id":"b74b21e5.e95dc","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1661.595230102539,"y":502.8571891784668,"wires":[["8ff56f6c.98f7c","874dc150.72423"]]},{"id":"8ff56f6c.98f7c","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2089.5954146385193,"y":817.8571782112122,"wires":[[]]},{"id":"a9f02e9c.71b53","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1505.095230102539,"y":504.8571891784668,"wires":[["b74b21e5.e95dc"]]},{"id":"46e9b10e.db561","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1504.595230102539,"y":549.8571891784668,"wires":[["ad8037a4.4708d8"]]},{"id":"bed0d0a3.d3a08","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE FossilGas","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-FossilGas\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-FossilGas\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Fossil Gas Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": FossilGas\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1297.595230102539,"y":548.8571891784668,"wires":[["46e9b10e.db561"]]},{"id":"48dec762.86d728","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE FossilHardCoal","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-FossilHardCoal\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-FossilHardCoal\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Fossil Hard Coal Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": FossilHardCoal\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1280.595230102539,"y":592.8571891784668,"wires":[["db794440.44ed58"]]},{"id":"29ef23c0.98afac","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE FossilOil","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-FossilOil\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-FossilOil\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Fossil Oil Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n         \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": FossilOil\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1300.595230102539,"y":638.8571891784668,"wires":[["bada7074.76aa5"]]},{"id":"24f6f68c.694e8a","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE HydroPumpedStorage","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-HydroPumpedStorage\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-HydroPumpedStorage\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Hydro Pumped Storage Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": HydroPumpedStorage\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1260.595220565796,"y":681.8572378158569,"wires":[["fdc14938.c6da98"]]},{"id":"59bc8ca9.f101a4","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE HydroRunOfRiverAndPoundage","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-HydroRunOfRiverAndPoundage\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-HydroRunOfRiverAndPoundage\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Hydro Run Of River And Poundage Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": HydroRunOfRiverAndPoundage\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1231.595230102539,"y":725.8571891784668,"wires":[["a0c143d0.13f12"]]},{"id":"21c84cb9.e24804","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE HydroWaterReservoir","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-HydroWaterReservoir\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-HydroWaterReservoir\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"HydroWaterReservoir Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": HydroWaterReservoir\n   \n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n    \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1260.595230102539,"y":768.8571891784668,"wires":[["c5360f30.a720c"]]},{"id":"72bfaa16.23ecb4","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE Nuclear","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-Nuclear\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-Nuclear\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Nuclear Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": Nuclear\n \n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1307.261884689331,"y":811.8572425842285,"wires":[["66a40c8.34139f4"]]},{"id":"33566a1.821de96","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE Solar","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-Solar\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-Solar\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Solar Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": Solar\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    }, \n    \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1307.595230102539,"y":854.8571891784668,"wires":[["36a7a5ec.c06fba"]]},{"id":"f906fb11.1f17c8","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE Waste","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-Waste\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-Waste\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Waste Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": Waste\n\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1307.595230102539,"y":900.8571891784668,"wires":[["9e65ed5d.b1ba4"]]},{"id":"a0d2bcb6.21e58","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE WindOnshore","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-WindOnshore\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-WindOnshore\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"WindOnshore Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": WindOnshore\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1288.595230102539,"y":944.8571891784668,"wires":[["d7fac6fe.99b948"]]},{"id":"5bbbb605.83ff08","type":"function","z":"f3082183.de19d","name":"Data Model FIWARE Total","func":"\nvar last_value_index=msg.payload.actual_generations_per_production_type[0].values.length;\n\nvar Timestamp=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\n\nvar StartDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].start_date;\nvar EndDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].end_date;\nvar UpdatedDate=msg.payload.actual_generations_per_production_type[0].values[last_value_index-1].updated_date;\n//var Interval=date.parse(EndDate);\nvar Interval=3600;\n//var DateNextCalculation=;\n//var DateExpires=;\n\n\nvar last_value_Biomass=msg.payload.actual_generations_per_production_type[0].values.length;\nvar Biomass=msg.payload.actual_generations_per_production_type[0].values[last_value_Biomass-1].value;\n\nvar last_value_FossilGas=msg.payload.actual_generations_per_production_type[1].values.length;\nvar FossilGas=msg.payload.actual_generations_per_production_type[1].values[last_value_FossilGas-1].value;\n\nvar last_value_FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values.length;\nvar FossilHardCoal=msg.payload.actual_generations_per_production_type[2].values[last_value_FossilHardCoal-1].value;\n\nvar last_value_FossilOil=msg.payload.actual_generations_per_production_type[3].values.length;\nvar FossilOil=msg.payload.actual_generations_per_production_type[3].values[last_value_FossilOil-1].value;\n\nvar last_value_HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values.length;\nvar HydroPumpedStorage=msg.payload.actual_generations_per_production_type[4].values[last_value_HydroPumpedStorage-1].value;\n\nvar last_value_HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values.length;\nvar HydroRunOfRiverAndPoundage=msg.payload.actual_generations_per_production_type[5].values[last_value_HydroRunOfRiverAndPoundage-1].value;\n\nvar last_value_HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values.length;\nvar HydroWaterReservoir=msg.payload.actual_generations_per_production_type[6].values[last_value_HydroWaterReservoir-1].value;\n\nvar last_value_Nuclear=msg.payload.actual_generations_per_production_type[7].values.length;\nvar Nuclear=msg.payload.actual_generations_per_production_type[7].values[last_value_Nuclear-1].value;\n\nvar last_value_Solar=msg.payload.actual_generations_per_production_type[8].values.length;\nvar Solar=msg.payload.actual_generations_per_production_type[8].values[last_value_Solar-1].value;\n\nvar last_value_Waste=msg.payload.actual_generations_per_production_type[9].values.length;\nvar Waste=msg.payload.actual_generations_per_production_type[9].values[last_value_Waste-1].value;\n\nvar last_value_WindOnshore=msg.payload.actual_generations_per_production_type[10].values.length;\nvar WindOnshore=msg.payload.actual_generations_per_production_type[10].values[last_value_WindOnshore-1].value;\n\nvar last_value_Total=msg.payload.actual_generations_per_production_type[11].values.length;\nvar Total=msg.payload.actual_generations_per_production_type[11].values[last_value_Total-1].value;\n\n\n\nmsg.payload=\n\n{\n    \"id\": \"KeyPerformanceIndicator:ENERGY-IMREDD-Total\",\n\n    \"type\": \"KeyPerformanceIndicator\",\n\n    \"source\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"http://data.rte-france.com/\"\n        \n    },\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n        \n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"KPI-RTE-Actual-Generation-Total\" \n        \n    },\n\n    \"organization\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\" \n        \n    },\n\n    \"product\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Total Actual Generation\" \n        \n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Aggregated production data by industry and intraday group corresponding to the net productions injected into the network\" \n        \n    },\n\n    \"calculationFrequency\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"hourly\" \n        \n    },\n\n    \"category\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"quantitative\"\n        \n    },\n\n    \"calculatedBy\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"RTE\"\n\n    },\n\n    \"calculationPeriod\": {\n\n        \"type\":\"StructuredValue\",\n        \n        \"value\":{\n\n            \"from\": StartDate,\n       \n            \"to\": EndDate\n        }        \n\n    },\n\n    \"kpiValue\": {\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MAW\"\n\n            }\n\n        },\n\n        \"type\": \"Number\",\n\n        \"value\": Total\n\n    },    \n        \n    \"dateNextCalculation\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n            \n        },\n        \n    \"dateExpires\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n        },\n        \n    \"updateAt\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": UpdatedDate\n\n    },\n        \n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n    \n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    }\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1305.595230102539,"y":989.8571891784668,"wires":[["ab808bc4.9388a8"]]},{"id":"db794440.44ed58","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1502.595230102539,"y":592.8571891784668,"wires":[["aadd7894.944e28"]]},{"id":"bada7074.76aa5","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1502.595230102539,"y":638.8571891784668,"wires":[["44eef918.ec36c8"]]},{"id":"fdc14938.c6da98","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1498.595230102539,"y":680.8571891784668,"wires":[["39e71952.4aebd6"]]},{"id":"a0c143d0.13f12","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1501.595230102539,"y":725.8571891784668,"wires":[["7da394fa.ac0f7c"]]},{"id":"c5360f30.a720c","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1502.595230102539,"y":768.8571891784668,"wires":[["2553178c.0bf9e8"]]},{"id":"66a40c8.34139f4","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1500.595230102539,"y":811.8571891784668,"wires":[["addd9653.d66df8"]]},{"id":"36a7a5ec.c06fba","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1495.595230102539,"y":854.8571891784668,"wires":[["60c4ca32.722f14"]]},{"id":"9e65ed5d.b1ba4","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1495.595230102539,"y":901.8571891784668,"wires":[["117ae5d5.67ad8a"]]},{"id":"d7fac6fe.99b948","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1499.595230102539,"y":944.8571891784668,"wires":[["5998d0f1.6ed87"]]},{"id":"ab808bc4.9388a8","type":"json","z":"f3082183.de19d","name":"","property":"payload","action":"obj","pretty":false,"x":1498.595230102539,"y":989.8571891784668,"wires":[["c27b4e8b.1c7a"]]},{"id":"ad8037a4.4708d8","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1659.595230102539,"y":548.8571891784668,"wires":[["4d42aa97.36e904","e638c1bb.135ca"]]},{"id":"4d42aa97.36e904","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2088.5954146385193,"y":865.8571782112122,"wires":[[]]},{"id":"aadd7894.944e28","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1660.595230102539,"y":593.8571891784668,"wires":[["622b770c.078258","240bb88b.d90638"]]},{"id":"622b770c.078258","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2090.5954146385193,"y":909.8571782112122,"wires":[[]]},{"id":"44eef918.ec36c8","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1658.595230102539,"y":638.8571891784668,"wires":[["3b366ae3.04fcf6","6c42255d.7638cc"]]},{"id":"3b366ae3.04fcf6","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2088.5954146385193,"y":954.8571782112122,"wires":[[]]},{"id":"39e71952.4aebd6","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1656.595230102539,"y":681.8571891784668,"wires":[["39505477.c8fcec","134d72b6.f6493d"]]},{"id":"39505477.c8fcec","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2090.5954146385193,"y":996.8571782112122,"wires":[[]]},{"id":"7da394fa.ac0f7c","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1658.595230102539,"y":723.8571891784668,"wires":[["9d6855b3.9a0658","40e06a80.9d23b4"]]},{"id":"9d6855b3.9a0658","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2089.8811659812927,"y":1040.285713672638,"wires":[[]]},{"id":"2553178c.0bf9e8","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1652.595230102539,"y":768.8571891784668,"wires":[["a14ce633.4ea348","39ceb6d5.8d40fa"]]},{"id":"a14ce633.4ea348","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2091.5954146385193,"y":1085.8571782112122,"wires":[[]]},{"id":"addd9653.d66df8","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1651.595230102539,"y":811.8571891784668,"wires":[["d5f019b2.ecef48","a8c97fa4.2675a"]]},{"id":"d5f019b2.ecef48","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2091.5954146385193,"y":1126.8571782112122,"wires":[[]]},{"id":"60c4ca32.722f14","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1648.595230102539,"y":855.8571891784668,"wires":[["9b82c65d.d11be8","7e24c1de.c85b4"]]},{"id":"9b82c65d.d11be8","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2094.5954146385193,"y":1168.8571763038635,"wires":[[]]},{"id":"117ae5d5.67ad8a","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1646.595230102539,"y":898.8571891784668,"wires":[["30861d75.cc70e2","1488d785.b57c48"]]},{"id":"30861d75.cc70e2","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2095.452558040619,"y":1210.8572278022766,"wires":[[]]},{"id":"5998d0f1.6ed87","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1651.595230102539,"y":943.8571891784668,"wires":[["de8ca76f.463038","e997b906.8d9c58"]]},{"id":"de8ca76f.463038","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2097.309735774994,"y":1253.1428360939026,"wires":[[]]},{"id":"c27b4e8b.1c7a","type":"function","z":"f3082183.de19d","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/kpi/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1648.595230102539,"y":989.8571891784668,"wires":[["9cb8c101.01949","d33cb25c.74082"]]},{"id":"9cb8c101.01949","type":"http request","z":"f3082183.de19d","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2099.16689825058,"y":1294.7142987251282,"wires":[[]]},{"id":"bc09d7c5.d8e438","type":"debug","z":"f3082183.de19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2617.7385635375977,"y":195.50001907348633,"wires":[]},{"id":"874dc150.72423","type":"function","z":"f3082183.de19d","name":"Biomass","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;     // KeyPerformanceIndicator\nmsg1.topic=\"Biomass\"; \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\n\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2060.095458984375,"y":207.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"e638c1bb.135ca","type":"function","z":"f3082183.de19d","name":"FossilGas","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"FossilGas\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2061.595458984375,"y":256.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"240bb88b.d90638","type":"function","z":"f3082183.de19d","name":"FossilHardCoal","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"FossilHardCoal\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2081.595458984375,"y":303.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"6c42255d.7638cc","type":"function","z":"f3082183.de19d","name":"FossilOil","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"FossilOil\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2062.595458984375,"y":348.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"134d72b6.f6493d","type":"function","z":"f3082183.de19d","name":"HydroPumpedStorage","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"HydroPumpedStorage\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2103.595401763916,"y":386.0000333786011,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"40e06a80.9d23b4","type":"function","z":"f3082183.de19d","name":"HydroRunOfRiverAndPoundage","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"HydroRunOfRiverAndPoundage\";   // \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2133.595458984375,"y":430.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"39ceb6d5.8d40fa","type":"function","z":"f3082183.de19d","name":"HydroWaterReservoir","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"HydroWaterReservoir\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2104.595458984375,"y":475.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"a8c97fa4.2675a","type":"function","z":"f3082183.de19d","name":"Nuclear","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"Nuclear\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2065.595458984375,"y":519.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"7e24c1de.c85b4","type":"function","z":"f3082183.de19d","name":"Solar","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"Solar\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2055.595458984375,"y":565.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"1488d785.b57c48","type":"function","z":"f3082183.de19d","name":"Waste","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"Waste\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2055.595458984375,"y":606.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58"]]},{"id":"e997b906.8d9c58","type":"function","z":"f3082183.de19d","name":"WindOnshore","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"WindOnshore\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":2085.595458984375,"y":651.857177734375,"wires":[["14ec9734.b0bdc9","8a58c781.832d58","4a1dc077.78c24"]]},{"id":"d33cb25c.74082","type":"function","z":"f3082183.de19d","name":"Total (MW)","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.kpiValue.value;   // KeyPerformanceIndicator\nmsg1.topic=\"Total\";   \n\nmsg2.payload=msg.payload.kpiValue.metadata.unitCode.value; // units\nmsg2.topic=\"MAW\" + \"MW\";\n\nreturn msg1;","outputs":2,"noerr":0,"x":2075.595458984375,"y":692.857177734375,"wires":[["5a5c238a.761c5c"],["5a5c238a.761c5c"]]},{"id":"5e32b6c9.d50f28","type":"comment","z":"f3082183.de19d","name":"Key Performance Indicator","info":"","x":2056.3097701072693,"y":103.14288377761841,"wires":[]},{"id":"14ec9734.b0bdc9","type":"ui_chart","z":"f3082183.de19d","name":"Pie Chart RTE KPI","group":"9183f0c.d8dc91","order":1,"width":17,"height":9,"label":"Various energy sources KPI (MW)","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2714.595703125,"y":490.0000305175781,"wires":[[]]},{"id":"8a58c781.832d58","type":"ui_chart","z":"f3082183.de19d","name":"Bar Chart RTE KPI","group":"1a6202da.1ae63d","order":1,"width":17,"height":9,"label":"Various energy sources KPI (MW)","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":2667.4528365135193,"y":285.7143225669861,"wires":[[]]},{"id":"5a5c238a.761c5c","type":"ui_text","z":"f3082183.de19d","group":"736b029.91d1cfc","order":1,"width":10,"height":2,"name":"Total KPI (MW)","label":"All energy sources RTE (MW)","format":"{{msg.payload}}","layout":"row-spread","x":2291.4524931907654,"y":692.1429324150085,"wires":[]},{"id":"3822fa29.db8af6","type":"debug","z":"f3082183.de19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2330,"y":820,"wires":[]},{"id":"4a1dc077.78c24","type":"ui_chart","z":"f3082183.de19d","name":"Radar Chart RTE KPI","group":"c0ff7189.6a0d","order":1,"width":17,"height":9,"label":"","chartType":"radar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2740,"y":640,"wires":[[]]},{"id":"c0183641.c33228","type":"debug","z":"f3082183.de19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":220,"wires":[]},{"id":"7fe0a28c.f0eeec","type":"ui_group","z":"","name":"Forecasted 1h average power generation :","tab":"4585dcb2.5d3bf4","order":4,"disp":true,"width":13,"collapse":false},{"id":"9183f0c.d8dc91","type":"ui_group","z":"","name":"Pie Chart RTE KPI","tab":"4585dcb2.5d3bf4","order":1,"disp":true,"width":17,"collapse":false},{"id":"1a6202da.1ae63d","type":"ui_group","z":"","name":"Bar Chart RTE KPI","tab":"4585dcb2.5d3bf4","order":2,"disp":true,"width":17,"collapse":false},{"id":"736b029.91d1cfc","type":"ui_group","z":"","name":"Total KPI :","tab":"4585dcb2.5d3bf4","order":5,"disp":true,"width":10,"collapse":false},{"id":"c0ff7189.6a0d","type":"ui_group","z":"","name":"Radar KPI","tab":"4585dcb2.5d3bf4","order":3,"disp":true,"width":17,"collapse":false},{"id":"4585dcb2.5d3bf4","type":"ui_tab","z":"","name":"rte-france.com/open_api/actual_generation","icon":"dashboard","order":6,"disabled":false,"hidden":false}]