Battery.json
[{"id":"8abd81f0.cc3b6","type":"tab","label":"Battery","disabled":false,"info":""},{"id":"e3f88984.912e88","type":"json","z":"8abd81f0.cc3b6","name":"","property":"payload","action":"obj","pretty":false,"x":424.5,"y":407,"wires":[["93bdc688.98ac68"]]},{"id":"93bdc688.98ac68","type":"function","z":"8abd81f0.cc3b6","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/battery/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":609.5,"y":407,"wires":[["9667ebcc.aed198","c911541.3891da8","b7544e3f.dd752","6bce4a5e.509234","2f49fd6e.5890f2","2bbd7e5.b381282","2f80cd81.106832","e0335c0b.f89f6","cbb6d162.b921f"]]},{"id":"9667ebcc.aed198","type":"http request","z":"8abd81f0.cc3b6","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1090,"y":20,"wires":[[]]},{"id":"d989811.77d698","type":"merge","z":"8abd81f0.cc3b6","name":"","timeout":"","x":662.5,"y":263,"wires":[["df607c98.3df63"]]},{"id":"a0d28e76.ba8e1","type":"interval-length","z":"8abd81f0.cc3b6","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":413.5,"y":267,"wires":[["d989811.77d698"],[]]},{"id":"a391ac1e.14483","type":"moment","z":"8abd81f0.cc3b6","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":384,"y":203,"wires":[["d989811.77d698"]]},{"id":"30ff3268.4723ce","type":"inject","z":"8abd81f0.cc3b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":188,"y":239,"wires":[["a391ac1e.14483","a0d28e76.ba8e1"]]},{"id":"df607c98.3df63","type":"function","z":"8abd81f0.cc3b6","name":"Data Model FIWARE","func":"var Timestamp=msg.payload[0].payload;\n\nvar IntervalRaw=msg.payload[1].payload/1000;\nvar Interval=IntervalRaw.toFixed(2);\nvar ActivePower=Math.random()*100;\nvar ReactivePower=Math.random()*100;\nvar Current=1000*ActivePower/230;\nvar Temperature=Math.random()*(30 - 5) + 5;\nvar SOH=Math.random();// unit code P1 between 0 and 1\nvar SOC=Math.random();// unit code P1 between 0 and 1\n\n\nmsg.payload=\n\n{\n    \"id\": \"BatteryStorage:ENERGY-IMREDD-BATTERY-0001\",\n\n    \"type\": \"BatteryStorage\",\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://imredd.fr/en/home/\"\n\n    },\n\n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n\n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    },\n\n    \"dateEnergyMeteringStarted\": {\n\n        \"type\": \"DateTime\",\n\n        \"value\": \"2019-09-04T15:29:17.999Z\"\n\n    },\n\n    \"refDevice\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Device:DEVICE-IMREDD-BATTERY-0001\"\n\n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Battery IMREDD SOCOMEC\"\n\n    },\n\n    \"image\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://www.socomec.us/range/sunsys-xtend-ess/\"\n\n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"First life lithium-ion battery for self consumption\"\n\n    },\n\n    \"nominalCapacity\": {\n\n        \"type\": \"Number\",\n        \n        \"metadata\": {\n            \n            \"unitCode\":{\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KWH\"\n                \n            }\n            \n        },\n        \n        \"value\": 182.6\n\n    },\n    \n    \"activePower\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KWT\"\n\n           }\n\n        },\n\n        \"value\": ActivePower\n\n    },\n\n    \"reactivePower\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\":\"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"K5\"\n\n            },\n\n        },\n\n        \"value\": ReactivePower\n\n    },\n\n    \"current\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"AMP\"\n\n            }\n\n        },\n\n        \"value\": Current\n        \n    },\n    \n    \"inverterStatus\": {\n        \n        \"type\": \"Text\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n\n            }\n\n        },\n\n        \"value\": \"working\"\n        \n    },\n\n    \"temperature\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"CEL\"\n\n            }\n\n        },\n\n        \"value\": Temperature \n        \n    },\n\n    \"SOC\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"P1\"\n\n            }\n\n        },\n\n        \"value\": SOC\n        \n    },\n\n    \"SOH\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"P1\"\n\n            }\n\n        },\n\n        \"value\": SOH\n        \n    },\n            \n       \"areaServed\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Nice\"\n\n    },\n        \n        \"owner\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"IMREDD\"\n\n        \n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":237,"y":407,"wires":[["e3f88984.912e88"]]},{"id":"2f80cd81.106832","type":"debug","z":"8abd81f0.cc3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":900,"wires":[]},{"id":"2bbd7e5.b381282","type":"function","z":"8abd81f0.cc3b6","name":"Battery Reactive Power","func":"var msg1={};\nvar msg2={};\n\n\nmsg1.payload=msg.payload.reactivePower.value;\nmsg1.topic=\"Reactive Power\";\n\nmsg2.payload=msg.payload.reactivePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1151.5,"y":342,"wires":[["b68329e4.52f608"]]},{"id":"a40f6b89.97dd08","type":"comment","z":"8abd81f0.cc3b6","name":"","info":"check units in reactive power in Data Model FIWARE","x":231.5,"y":467,"wires":[]},{"id":"c911541.3891da8","type":"function","z":"8abd81f0.cc3b6","name":"Battery Current","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.current.value;\nmsg1.topic=\"Current\";\n\nmsg2.payload=msg.payload.current.metadata.unitCode.value;\nmsg2.topic=\"A\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1125,"y":432,"wires":[["fb063cc5.9e42c"]]},{"id":"b7544e3f.dd752","type":"function","z":"8abd81f0.cc3b6","name":"Battery temperature","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.temperature.value;\nmsg1.topic=\"Temperature\";\n\nmsg2.payload=msg.payload.temperature.metadata.unitCode.value;\nmsg2.topic=\"deg. C\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1145,"y":528,"wires":[["da5a1b2f.e3f7c8"]]},{"id":"f2441693.0fdc28","type":"function","z":"8abd81f0.cc3b6","name":"Battery","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\nmsg2.payload=msg.payload.activePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\nmsg3.payload=msg.payload.reactivePower.value;\nmsg3.topic=\"Reactive Power\";\n\nmsg4.payload=msg.payload.reactivePower.metadata.unitCode.value;\nmsg4.topic=\"kW\";\n\nmsg5.payload=msg.payload.current.value;\nmsg5.topic=\"Current\";\n\nmsg6.payload=msg.payload.current.metadata.unitCode.value;\nmsg6.topic=\"A\";\n\nmsg7.payload=msg.payload.temperature.value;\nmsg7.topic=\"Current\";\n\nmsg8.payload=msg.payload.temperature.metadata.unitCode.value;\nmsg8.topic=\"deg. C\";\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8]];","outputs":1,"noerr":0,"x":1105,"y":96,"wires":[[]]},{"id":"6bce4a5e.509234","type":"function","z":"8abd81f0.cc3b6","name":"Battery Active & Reactive Power","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\nmsg2.payload=msg.payload.activePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\nmsg3.payload=msg.payload.reactivePower.value;\nmsg3.topic=\"Reactive Power\";\n\nmsg4.payload=msg.payload.reactivePower.metadata.unitCode.value;\nmsg4.topic=\"kW\";\n\n\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":1174,"y":141,"wires":[[]]},{"id":"2f49fd6e.5890f2","type":"function","z":"8abd81f0.cc3b6","name":"Battery Active Power","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\nmsg2.payload=msg.payload.activePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1139,"y":246,"wires":[["44f0a4cc.1436cc"]]},{"id":"b68329e4.52f608","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","group":"27bf6c1.9761694","order":1,"width":14,"height":9,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#841eb3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1397,"y":341,"wires":[[]]},{"id":"fb063cc5.9e42c","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","group":"47480b9f.d52984","order":1,"width":14,"height":9,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f70818","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1396,"y":432,"wires":[[]]},{"id":"da5a1b2f.e3f7c8","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","group":"dc51fd32.e7f3c","order":1,"width":14,"height":9,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#020104","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1399,"y":528,"wires":[[]]},{"id":"44f0a4cc.1436cc","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","group":"15911b1d.fbaef5","order":1,"width":14,"height":9,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1395,"y":245,"wires":[[]]},{"id":"21d71594.8dc36a","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1440,"y":100,"wires":[[]]},{"id":"e0335c0b.f89f6","type":"function","z":"8abd81f0.cc3b6","name":"State of charge (0-100%)","func":"var msg1={};\n\nmsg1.payload=msg.payload.SOC.value*100;\nmsg1.topic=\"State of charge\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1150,"y":620,"wires":[["3cdad343.8e521c","acac7289.bef27","240c3bf0.ca0064"]]},{"id":"acac7289.bef27","type":"ui_text","z":"8abd81f0.cc3b6","group":"a6bf9f33.0d679","order":3,"width":12,"height":2,"name":"","label":"Battery SoC","format":"{{msg.payload}}","layout":"row-spread","x":1410,"y":620,"wires":[]},{"id":"3cdad343.8e521c","type":"ui_gauge","z":"8abd81f0.cc3b6","name":"","group":"a6bf9f33.0d679","order":1,"width":16,"height":5,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1390,"y":700,"wires":[]},{"id":"240c3bf0.ca0064","type":"ui_chart","z":"8abd81f0.cc3b6","name":"","group":"a6bf9f33.0d679","order":9,"width":29,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1a9018","#aec7e8","#ff7f0e","#2c3fa0","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1390,"y":580,"wires":[[]]},{"id":"cbb6d162.b921f","type":"function","z":"8abd81f0.cc3b6","name":"Inverter status","func":"var msg1={};\n\nmsg1.payload=msg.payload.inverterStatus.value;\nmsg1.topic=\"Inverter status\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1120,"y":780,"wires":[["54aef4c6.69192c"]]},{"id":"54aef4c6.69192c","type":"ui_text","z":"8abd81f0.cc3b6","group":"a6bf9f33.0d679","order":6,"width":12,"height":3,"name":"","label":"Inverter status","format":"{{msg.payload}}","layout":"col-center","x":1420,"y":780,"wires":[]},{"id":"27bf6c1.9761694","type":"ui_group","z":"","name":"Reactive Power (kW)","tab":"345311fb.f2d34e","order":2,"disp":true,"width":14,"collapse":false},{"id":"47480b9f.d52984","type":"ui_group","z":"","name":"Current (A)","tab":"345311fb.f2d34e","order":3,"disp":true,"width":14,"collapse":false},{"id":"dc51fd32.e7f3c","type":"ui_group","z":"","name":"Battery Temperature (deg. C)","tab":"345311fb.f2d34e","order":4,"disp":true,"width":"14","collapse":false},{"id":"15911b1d.fbaef5","type":"ui_group","z":"","name":"Active Power (kW)","tab":"345311fb.f2d34e","order":1,"disp":true,"width":14,"collapse":false},{"id":"a6bf9f33.0d679","type":"ui_group","z":"","name":"Battery State of Charge (0-100%)","tab":"345311fb.f2d34e","order":6,"disp":true,"width":29,"collapse":false},{"id":"345311fb.f2d34e","type":"ui_tab","z":"","name":"BatteryStorage:ENERGY-IMREDD","icon":"dashboard","order":3,"disabled":false,"hidden":false}]