EVSE.json
[{"id":"f56884d6.56e438","type":"tab","label":"EVSE","disabled":false,"info":""},{"id":"a1ae028b.62a27","type":"function","z":"f56884d6.56e438","name":"Data Model FIWARE","func":"var Timestamp=msg.payload[0].payload;\n\nvar IntervalRaw=msg.payload[1].payload/1000;\nvar Interval=IntervalRaw.toFixed(2);\nvar Power=Math.random()*20;\n//var Status = \"working\"\n\nmsg.payload=\n\n{\n    \"id\": \"EVChargingStation:TRANSP-IMREDD-EVSE-0001\",\n\n    \"type\": \"EVChargingStation\",\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://imredd.fr/en/home/\"\n\n    },\n\n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n\n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    },\n\n    \"dateEnergyMeteringStarted\": {\n\n        \"type\": \"DateTime\",\n\n        \"value\": \"2019-09-04T15:29:17.999Z\"\n\n    },\n\n    \"refDevice\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Device:DEVICE-IMREDD-EVSE-0001\"\n\n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Charging Station IMREDD Schneider\"\n\n    },\n\n    \"image\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://www.se.com/ww/en/product-range/60850-evlink-parking/\"\n\n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Free EVSE for employees working at IMREDD\"\n\n    },\n\n    \"capacity\": {\n\n        \"type\": \"Number\",\n        \n        \"value\": 2\n\n    },\n    \n       \"allowedVehicleType\": {\n\n        \"type\": \"StructuredValue\",\n        \n        \"value\": [\"car\"]\n\n    },\n    \n       \"socketNumber\": {\n\n        \"type\": \"Number\",\n        \n        \"value\": 2\n\n    },\n    \n    \"availableCapacity\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n\n           }\n\n        },\n\n        \"value\": 2\n\n    },\n\n    \"chargingPower\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\":\"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KWT\"\n\n            },\n\n        },\n\n        \"value\": Power\n\n    },\n\n    \"status\": {\n        \n        \"type\": \"Text\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n\n            }\n\n        },\n\n        \"value\": \"working\"\n    },\n            \n       \"areaServed\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Nice\"\n\n    },\n        \n        \"owner\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"IMREDD\"\n\n    },\n    \n        \"operator\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"IZIVIA\"\n\n    },\n        \n        \"network\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Agregio\"\n\n    },\n        \n        \"chargeType\": {\n\n        \"type\": \"StructuredValue\",\n        \n        \"value\": [\"free\"]\n        \n\n    }\n    \n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["cc5817a0.966618"]]},{"id":"cc5817a0.966618","type":"json","z":"f56884d6.56e438","name":"","property":"payload","action":"obj","pretty":false,"x":870,"y":280,"wires":[["19052eea.cd14e1"]]},{"id":"19052eea.cd14e1","type":"function","z":"f56884d6.56e438","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/transportation/evchargingstation/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":280,"wires":[["81052347.43961","ee58dc76.1cc64","8216dfc7.f3158","61ba0d1a.50d904","d2685e92.49fdd","b985679d.d46d38"]]},{"id":"ee58dc76.1cc64","type":"http request","z":"f56884d6.56e438","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":120,"wires":[[]]},{"id":"11875e00.a5fa52","type":"merge","z":"f56884d6.56e438","name":"","timeout":"","x":510,"y":280,"wires":[["a1ae028b.62a27"]]},{"id":"b227cd46.a97fe","type":"interval-length","z":"f56884d6.56e438","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":320,"y":320,"wires":[["11875e00.a5fa52"],[]]},{"id":"f62f7aab.294858","type":"moment","z":"f56884d6.56e438","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":330,"y":220,"wires":[["11875e00.a5fa52"]]},{"id":"8e216794.c5c318","type":"inject","z":"f56884d6.56e438","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["f62f7aab.294858","b227cd46.a97fe"]]},{"id":"81052347.43961","type":"function","z":"f56884d6.56e438","name":"Charging Power","func":"var msg1={};\n\n\n//msg.payload = msg.payload.chargingPower.value;\nmsg1.payload = msg.payload.chargingPower.value;\nmsg1.topic = \"Charging Power\";\n\n\nreturn msg1;\n\n\n\n\n","outputs":1,"noerr":0,"x":1340,"y":260,"wires":[["66e12d84.2ca1c4","c5fc127e.512e3","bc4749fd.94e428"]]},{"id":"8216dfc7.f3158","type":"function","z":"f56884d6.56e438","name":"Charge Type","func":"msg.payload = msg.payload.chargeType.value[0];\nmsg.topic = \"Charge Type\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":340,"wires":[["11c25438.ac835c"]]},{"id":"11c25438.ac835c","type":"ui_text","z":"f56884d6.56e438","group":"a855868a.3517b8","order":1,"width":11,"height":5,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1690,"y":340,"wires":[],"icon":"font-awesome/fa-plug"},{"id":"61ba0d1a.50d904","type":"function","z":"f56884d6.56e438","name":"description","func":"msg.payload = msg.payload.description.value;\nmsg.topic = \"description\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":400,"wires":[["30dcff0.9e9ec02"]]},{"id":"d2685e92.49fdd","type":"function","z":"f56884d6.56e438","name":"socket Number","func":"msg.payload = msg.payload.socketNumber.value;\nmsg.topic = \"socketNumber\";\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":480,"wires":[["233c8fa3.f7a47"]]},{"id":"b985679d.d46d38","type":"function","z":"f56884d6.56e438","name":"status","func":"msg.payload = msg.payload.status.value;\nmsg.topic = \"status\";\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":560,"wires":[["af05224a.9df77"]]},{"id":"af05224a.9df77","type":"ui_text","z":"f56884d6.56e438","group":"44988c24.f4e724","order":1,"width":11,"height":5,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1690,"y":560,"wires":[],"icon":"font-awesome/fa-battery-3"},{"id":"30dcff0.9e9ec02","type":"ui_text","z":"f56884d6.56e438","group":"be41757d.7f3148","order":1,"width":11,"height":5,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1690,"y":400,"wires":[],"icon":"font-awesome/fa-automobile"},{"id":"66e12d84.2ca1c4","type":"ui_gauge","z":"f56884d6.56e438","name":"","group":"80541f26.c68aa","order":1,"width":14,"height":8,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":300,"wires":[]},{"id":"c5fc127e.512e3","type":"ui_chart","z":"f56884d6.56e438","name":"","group":"a88a4ad3.8fe758","order":1,"width":20,"height":8,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#20b620","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1700,"y":220,"wires":[[]]},{"id":"233c8fa3.f7a47","type":"ui_text","z":"f56884d6.56e438","group":"e8c56dfd.ba64e","order":1,"width":11,"height":5,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1690,"y":480,"wires":[],"icon":"font-awesome/fa-hashtag"},{"id":"bc4749fd.94e428","type":"ui_text","z":"f56884d6.56e438","group":"51fe348a.be796c","order":1,"width":8,"height":4,"name":"","label":"Instanteneous power :","format":"{{msg.payload}}","layout":"row-center","x":1760,"y":260,"wires":[]},{"id":"a855868a.3517b8","type":"ui_group","z":"","name":"Charge Type","tab":"bdc7442c.b46be8","order":4,"disp":true,"width":11,"collapse":false},{"id":"44988c24.f4e724","type":"ui_group","z":"","name":"Status","tab":"bdc7442c.b46be8","order":7,"disp":true,"width":11,"collapse":false},{"id":"be41757d.7f3148","type":"ui_group","z":"","name":"Description","tab":"bdc7442c.b46be8","order":5,"disp":true,"width":11,"collapse":false},{"id":"80541f26.c68aa","type":"ui_group","z":"","name":"Charging Power [kW]","tab":"bdc7442c.b46be8","order":2,"disp":true,"width":14,"collapse":false},{"id":"a88a4ad3.8fe758","type":"ui_group","z":"","name":"Charging Power [kW]","tab":"bdc7442c.b46be8","order":1,"disp":true,"width":20,"collapse":false},{"id":"e8c56dfd.ba64e","type":"ui_group","z":"","name":"Socket Number","tab":"bdc7442c.b46be8","order":6,"disp":true,"width":11,"collapse":false},{"id":"51fe348a.be796c","type":"ui_group","z":"","name":"Charging Power [kW]","tab":"bdc7442c.b46be8","order":3,"disp":true,"width":"8","collapse":false},{"id":"bdc7442c.b46be8","type":"ui_tab","z":"","name":"EVChargingStation:TRANSP-IMREDD","icon":"dashboard","disabled":false,"hidden":false}]