Masters_Smart_City_TP_example.json
[{"id":"ae8f6be1.c7e138","type":"tab","label":"Smart City TP Exercise","disabled":false,"info":""},{"id":"26653a97.923326","type":"inject","z":"ae8f6be1.c7e138","name":"","topic":"","payload":"Hello world!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":20,"wires":[["eb1c56dc.ba2118"]]},{"id":"a32bb07d.4ed04","type":"debug","z":"ae8f6be1.c7e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":20,"wires":[]},{"id":"eb1c56dc.ba2118","type":"function","z":"ae8f6be1.c7e138","name":"","func":"var newString = msg.payload.replace(\"world\",\"From Node-RED\")\n\nreturn {payload : newString};","outputs":1,"noerr":0,"x":530,"y":20,"wires":[["a32bb07d.4ed04"]]},{"id":"b32211.b3adcdf","type":"inject","z":"ae8f6be1.c7e138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":560,"wires":[["77b29438.a62e0c","26c08e61.32ee22"]]},{"id":"ebbbae9a.f188b","type":"debug","z":"ae8f6be1.c7e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":780,"wires":[]},{"id":"5ae38c8b.fc1f94","type":"http request","z":"ae8f6be1.c7e138","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.sunrise-sunset.org/json?lat=43.680373&lng=7.203555&date=2020-11-11","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":780,"wires":[["d95aaa6f.cd7b88"]]},{"id":"d95aaa6f.cd7b88","type":"json","z":"ae8f6be1.c7e138","name":"","property":"payload","action":"","pretty":false,"x":718,"y":780,"wires":[["ebbbae9a.f188b","f0a51a55.6a6d08"]]},{"id":"f0a51a55.6a6d08","type":"function","z":"ae8f6be1.c7e138","name":"Sunset and Sunrise time","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.results.sunrise;     // Sunrise time\nmsg1.topic=\"Sunrise\"; \n\nmsg2.payload=msg.payload.results.sunset;      // Sunset time\nmsg2.topic=\"Sunset\";\n\n\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":930,"y":880,"wires":[["ab8a1608.3689f8"]]},{"id":"ab8a1608.3689f8","type":"debug","z":"ae8f6be1.c7e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":880,"wires":[]},{"id":"77b29438.a62e0c","type":"moment","z":"ae8f6be1.c7e138","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":530,"y":500,"wires":[["5b1efe15.7e7af"]]},{"id":"26c08e61.32ee22","type":"interval-length","z":"ae8f6be1.c7e138","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":551.166675567627,"y":650.6666793823242,"wires":[["5b1efe15.7e7af"],[]]},{"id":"5b1efe15.7e7af","type":"merge","z":"ae8f6be1.c7e138","name":"","timeout":"","x":769.3333282470703,"y":564.0000038146973,"wires":[["5ae38c8b.fc1f94"]]}]