PV.json
[{"id":"19ee0a67.f6e676","type":"tab","label":"PV","disabled":false,"info":""},{"id":"52b7aa1d.2e4074","type":"json","z":"19ee0a67.f6e676","name":"","property":"payload","action":"obj","pretty":false,"x":468.16667556762695,"y":425.6666431427002,"wires":[["f386b7cb.bb8418"]]},{"id":"f386b7cb.bb8418","type":"function","z":"19ee0a67.f6e676","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/energy/photovoltaic/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":675.4999847412109,"y":426.3333396911621,"wires":[["c5b485b1.e48bd8","deb90c18.dc75e","7e8094cb.9ba10c","8371d26a.dc3b4","b5c3be2a.3022f","17507798.82acf8","be226b7b.c3e448"]]},{"id":"b5c3be2a.3022f","type":"http request","z":"19ee0a67.f6e676","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":580,"wires":[[]]},{"id":"7deb9077.df89a","type":"merge","z":"19ee0a67.f6e676","name":"","timeout":"","x":630,"y":140,"wires":[["a31dca2.9b2f838"]]},{"id":"b97a24e2.eb6338","type":"interval-length","z":"19ee0a67.f6e676","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":411.83334732055664,"y":226.66667556762695,"wires":[["7deb9077.df89a"],[]]},{"id":"8c4e7a92.330a48","type":"moment","z":"19ee0a67.f6e676","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":390.6666717529297,"y":75.99999618530273,"wires":[["7deb9077.df89a"]]},{"id":"d6ad3bc7.5c50d8","type":"inject","z":"19ee0a67.f6e676","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":201.33333587646484,"y":152.00000381469727,"wires":[["8c4e7a92.330a48","b97a24e2.eb6338"]]},{"id":"a31dca2.9b2f838","type":"function","z":"19ee0a67.f6e676","name":"Data Model FIWARE","func":"var Timestamp=msg.payload[0].payload;\nvar IntervalRaw=msg.payload[1].payload/1000;\nvar Interval=IntervalRaw.toFixed(2);\nvar ActivePower=Math.random()*100;\nvar ReactivePower=Math.random()*100;\nvar Current=1000*ActivePower/230;\nvar Temperature=Math.random()*(45 - 15) + 15;  // Math.random() * (max - min) + min; //30*sin(2*pi/24*(Interval-10))+8;\n\n\nmsg.payload=\n\n{\n    \"id\": \"PhotovoltaicPowerGeneration:ENERGY-IMREDD-PV-0001\",\n\n    \"type\": \"PhotovoltaicPowerGeneration\",\n\n    \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://imredd.fr/en/home/\"\n\n    },\n\n    \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\n    },\n\n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    },\n\n    \"dateEnergyMeteringStarted\": {\n\n        \"type\": \"DateTime\",\n\n        \"value\": \"2019-09-04T15:29:17.999Z\"\n\n    },\n\n    \"refDevice\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Device:DEVICE-IMREDD-PV-0001\"\n\n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Photovoltaic station IMREDD\"\n\n    },\n\n    \"image\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://us.sunpower.com/products/solar-panels\"\n\n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Photovoltaic data provided by the data logger ABB\"\n\n    },\n\n    \"nominalPeakPowerGeneration\": {\n\n        \"type\": \"Number\",\n        \n        \"metadata\": {\n             \n                \"unitcode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KWT\"\n\n           }\n             \n        },     \n             \n        \"value\": 179\n\n    },\n    \n    \"activePower\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitcode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KW\"  // KWT\n\n           },\n\n        },\n\n        \"value\": ActivePower\n    },\n\n    \"reactivePower\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\":\"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"KW\"\n\n            },\n\n        },\n\n        \"value\": ReactivePower\n\n    },\n\n    \"current\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"AMP\"\n\n            }\n\n        },\n\n        \"value\": Current\n        \n    },\n    \n    \"inverterStatus\": {\n        \n        \"type\": \"Text\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n\n            }\n\n        },\n\n        \"value\": \"working\"\n        \n    },\n\n    \"temperature\": {\n        \n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"TimeInstant\": {\n\n                \"type\": \"Text\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"unitCode\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"CEL\"\n\n            }\n\n        },\n\n        \"value\": Temperature \n        \n    },\n            \n       \"areaServed\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Nice\"\n\n    },\n        \n        \"owner\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"IMREDD\"\n\n        \n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":236.33333587646484,"y":427.3333396911621,"wires":[["52b7aa1d.2e4074"]]},{"id":"17507798.82acf8","type":"debug","z":"19ee0a67.f6e676","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":720,"wires":[]},{"id":"c5b485b1.e48bd8","type":"function","z":"19ee0a67.f6e676","name":"PV Reactive Power","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.reactivePower.value;\nmsg1.topic=\"Reactive Power\";\n\nmsg2.payload=msg.payload.reactivePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1113.3332901000977,"y":330.0000104904175,"wires":[["3a7082b5.7aca0e"]]},{"id":"deb90c18.dc75e","type":"function","z":"19ee0a67.f6e676","name":"PV Current","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.current.value;\nmsg1.topic=\"Current\";\n\nmsg2.payload=msg.payload.current.metadata.unitCode.value;\nmsg2.topic=\"A\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1092.8333282470703,"y":409.1428632736206,"wires":[["652dace1.1f17f4"]]},{"id":"7e8094cb.9ba10c","type":"function","z":"19ee0a67.f6e676","name":"PV temperature","func":"var msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.temperature.value;\nmsg1.topic=\"Current\";\n\nmsg2.payload=msg.payload.temperature.metadata.unitCode.value;\nmsg2.topic=\"deg. C\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1098.261848449707,"y":490.8571434020996,"wires":[["d373f318.8a72"]]},{"id":"4f3529de.ca8ce8","type":"function","z":"19ee0a67.f6e676","name":"PV","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\nmsg2.payload=msg.payload.activePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\nmsg3.payload=msg.payload.reactivePower.value;\nmsg3.topic=\"Reactive Power\";\n\nmsg4.payload=msg.payload.reactivePower.metadata.unitCode.value;\nmsg4.topic=\"kW\";\n\nmsg5.payload=msg.payload.current.value;\nmsg5.topic=\"Current\";\n\nmsg6.payload=msg.payload.current.metadata.unitCode.value;\nmsg6.topic=\"A\";\n\nmsg7.payload=msg.payload.temperature.value;\nmsg7.topic=\"Current\";\n\nmsg8.payload=msg.payload.temperature.metadata.unitCode.value;\nmsg8.topic=\"deg. C\";\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8]];","outputs":1,"noerr":0,"x":1130,"y":40,"wires":[[]]},{"id":"2f1f063e.2628ba","type":"function","z":"19ee0a67.f6e676","name":"PV Active & Reactive Power","func":"//var msg1={};\n//var msg2={};\n//var msg3={};\n//var msg4={};\n\n//msg1.payload=msg.payload.activePower.value;\n//msg1.topic=\"Active Power\";\n\n//msg2.payload=msg.payload.activePower.metadata.unitCode.value;\n//msg2.topic=\"kW\";\n\n//msg3.payload=msg.payload.reactivePower.value;\n//msg3.topic=\"Reactive Power\";\n\n//msg4.payload=msg.payload.reactivePower.metadata.unitCode.value;\n//msg4.topic=\"kW\";\n\n\n//return msg1;\n\nvar msg1={};\nvar msg2={};\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\nmsg2.payload=msg.payload.activePower.metadata.unitCode.value;\nmsg2.topic=\"kW\";\n\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":1103.2221794128418,"y":91.77779293060303,"wires":[[]]},{"id":"3a7082b5.7aca0e","type":"ui_chart","z":"19ee0a67.f6e676","name":"","group":"df7d5bd2.22a428","order":1,"width":0,"height":0,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5d1fef","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8731d8","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1411.999921798706,"y":330.00000286102295,"wires":[[]]},{"id":"652dace1.1f17f4","type":"ui_chart","z":"19ee0a67.f6e676","name":"","group":"578c24ad.0383bc","order":1,"width":0,"height":0,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ee2054","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1409.3333282470703,"y":409.1428632736206,"wires":[[]]},{"id":"d373f318.8a72","type":"ui_chart","z":"19ee0a67.f6e676","name":"","group":"b75dac7f.a1d12","order":1,"width":0,"height":0,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#14a932","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1407.9046936035156,"y":491.42854595184326,"wires":[[]]},{"id":"8371d26a.dc3b4","type":"function","z":"19ee0a67.f6e676","name":"PV Active Power","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.activePower.value;\nmsg1.topic=\"Active Power\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1112.3332901000977,"y":260.0000104904175,"wires":[["9d67c39b.2e2dd"]]},{"id":"9d67c39b.2e2dd","type":"ui_chart","z":"19ee0a67.f6e676","name":"","group":"e8a0a872.f09f78","order":1,"width":0,"height":0,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1410.3333435058594,"y":258.88886642456055,"wires":[[]]},{"id":"be226b7b.c3e448","type":"function","z":"19ee0a67.f6e676","name":"Nominal Peak Power Generation","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.nominalPeakPowerGeneration.value;\nmsg1.topic=\"Nominal Peak Power Generation\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1160,"y":180,"wires":[["6aa8f47b.87d0dc"]]},{"id":"6aa8f47b.87d0dc","type":"ui_text","z":"19ee0a67.f6e676","group":"fb89a20a.8a0ce","order":1,"width":7,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1410,"y":180,"wires":[]},{"id":"df7d5bd2.22a428","type":"ui_group","z":"","name":"Reactive power [VAR]","tab":"2486fdba.8d2d82","order":2,"disp":true,"width":15,"collapse":false},{"id":"578c24ad.0383bc","type":"ui_group","z":"","name":"Current [A]","tab":"2486fdba.8d2d82","order":4,"disp":true,"width":15,"collapse":false},{"id":"b75dac7f.a1d12","type":"ui_group","z":"","name":"Temperature [Cel]","tab":"2486fdba.8d2d82","order":5,"disp":true,"width":15,"collapse":false},{"id":"e8a0a872.f09f78","type":"ui_group","z":"","name":"Active power [kW]","tab":"2486fdba.8d2d82","order":1,"disp":true,"width":15,"collapse":false},{"id":"fb89a20a.8a0ce","type":"ui_group","z":"","name":"Nominal Peak Power Generation [kW]","tab":"2486fdba.8d2d82","order":3,"disp":true,"width":7,"collapse":false},{"id":"2486fdba.8d2d82","type":"ui_tab","z":"","name":"PV","icon":"dashboard","order":4,"disabled":false,"hidden":false}]