weatherForecast.json
[{"id":"f2ee3c69.82ccf","type":"tab","label":"Weather forecast [from www.weatherbit.io]","disabled":false,"info":""},{"id":"acc680cb.a2b1","type":"merge","z":"f2ee3c69.82ccf","name":"","timeout":"","x":530,"y":440,"wires":[["b45b4b1c.400588"]]},{"id":"774e67eb.f88b98","type":"moment","z":"f2ee3c69.82ccf","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":365,"y":400,"wires":[["acc680cb.a2b1"]]},{"id":"b45b4b1c.400588","type":"http request","z":"f2ee3c69.82ccf","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.weatherbit.io/v2.0/forecast/hourly?&lat=43.7102&lon=7.2620&key=bf9ec95319174855912aaeb08dc0638b&hours=48","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":740,"wires":[["e5a4646c.eaa428"]]},{"id":"e209cd8c.fb352","type":"function","z":"f2ee3c69.82ccf","name":"Wind direction [abreviation]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].wind_cdir\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Wind direction\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1033,"y":900,"wires":[[]]},{"id":"117e77d3.36bb58","type":"function","z":"f2ee3c69.82ccf","name":"Relative humidity [%]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].rh\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Relative humidity\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1013,"y":600,"wires":[[]]},{"id":"c35bd853.556688","type":"function","z":"f2ee3c69.82ccf","name":"Pressure [mb]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].pres\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"air pressure\";\nreturn msg1;\n\n\n","outputs":1,"noerr":0,"x":993,"y":300,"wires":[["8f5eb3ff.3c217"]]},{"id":"dee20449.f2f018","type":"function","z":"f2ee3c69.82ccf","name":"Solar irradiation [W/m2]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].solar_rad\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Solar radiation\";\nreturn msg1;\n","outputs":1,"noerr":0,"x":1023,"y":420,"wires":[["d8c36abb.4fd968"]]},{"id":"5855942a.52283c","type":"function","z":"f2ee3c69.82ccf","name":"Ozone [Dobson]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].ozone\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Ozone\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":993,"y":1020,"wires":[[]]},{"id":"eeab2dfb.35d78","type":"function","z":"f2ee3c69.82ccf","name":"Clouds [%]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].clouds\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Clouds\";\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":983,"y":540,"wires":[["1777e4c1.69cf9b"]]},{"id":"4bfbb474.199a3c","type":"function","z":"f2ee3c69.82ccf","name":"Probability of precipitation","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].pop\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Probability of precipitation\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1023,"y":720,"wires":[[]]},{"id":"d3402a82.612058","type":"function","z":"f2ee3c69.82ccf","name":"Wind speed [m/s]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].wind_spd\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Wind speed\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1004,"y":780,"wires":[[]]},{"id":"6f373825.946848","type":"debug","z":"f2ee3c69.82ccf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1180,"wires":[]},{"id":"7541969.5710e68","type":"function","z":"f2ee3c69.82ccf","name":"Sea level pressure [mb]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].slp\n    });\n  }\nmsg1.payload = msg.payload;\nmsg2.topic=\"Sea level pressure\";\nreturn msg1;\n\n\n\n\n","outputs":1,"noerr":0,"x":1023,"y":360,"wires":[["8f5eb3ff.3c217"]]},{"id":"f330beba.3d092","type":"function","z":"f2ee3c69.82ccf","name":"Snow [mm]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].snow\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Snow\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":983,"y":1080,"wires":[[]]},{"id":"2b69b8e3.aeb348","type":"function","z":"f2ee3c69.82ccf","name":"UV index [0-11]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].uv\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"UV index\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":993,"y":480,"wires":[["d1208160.17322"]]},{"id":"d92b50c4.7f087","type":"function","z":"f2ee3c69.82ccf","name":"Wind direction [degree]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].wind_dir\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Wind direction\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1023,"y":840,"wires":[[]]},{"id":"6a0cec47.285bf4","type":"function","z":"f2ee3c69.82ccf","name":"Visibility [km]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].vis\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Visibility\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":983,"y":960,"wires":[[]]},{"id":"9a8cd76b.7c2a08","type":"function","z":"f2ee3c69.82ccf","name":"accumulated liquid equivalent precipitation [mm]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].precip\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"accumulated liquid equivalent precipitation\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":1094,"y":660,"wires":[[]]},{"id":"b5c7c071.5f296","type":"function","z":"f2ee3c69.82ccf","name":"temperature [degree Celcius]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].temp\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"air temperature\";\nreturn msg1;\n","outputs":1,"noerr":0,"x":1040,"y":120,"wires":[["1afd8319.b34e5d"]]},{"id":"619dbf58.748c2","type":"function","z":"f2ee3c69.82ccf","name":"apparent / 'feels like' temperature [degree Celcius]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].app_temp\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"'feels like' temperature\";\nreturn msg1;","outputs":1,"noerr":0,"x":1110,"y":180,"wires":[["1afd8319.b34e5d"]]},{"id":"418dbfc0.5ee71","type":"function","z":"f2ee3c69.82ccf","name":"Dew point temperature [degree C]","func":"var msg1={};\nvar l = 48;\n\nfor (var i = 0; i < l; i++) {\nnode.send({\n    payload: msg.payload.data[i].dewpt\n    });\n  }\nmsg1.payload = msg.payload;\nmsg1.topic=\"Dew point temperature\";\nreturn msg1;\n","outputs":1,"noerr":0,"x":1056,"y":240,"wires":[["1afd8319.b34e5d"]]},{"id":"94a6f56c.4211a8","type":"inject","z":"f2ee3c69.82ccf","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"9","x":165,"y":420,"wires":[["774e67eb.f88b98","2664c62a.27deaa"]]},{"id":"2664c62a.27deaa","type":"interval-length","z":"f2ee3c69.82ccf","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":355,"y":480,"wires":[["acc680cb.a2b1"],[]]},{"id":"ed6560bd.d4885","type":"function","z":"f2ee3c69.82ccf","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.weatherbit.io/v2.0/forecast/hourly?&lat=43.7102&lon=7.2620&key=bf9ec95319174855912aaeb08dc0638b&hours=48\"\n\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":740,"wires":[["6f373825.946848","b5c7c071.5f296","619dbf58.748c2","418dbfc0.5ee71","c35bd853.556688","7541969.5710e68","dee20449.f2f018","2b69b8e3.aeb348","eeab2dfb.35d78","117e77d3.36bb58","9a8cd76b.7c2a08","4bfbb474.199a3c","d3402a82.612058","d92b50c4.7f087","e209cd8c.fb352","6a0cec47.285bf4","5855942a.52283c","f330beba.3d092"]]},{"id":"e5a4646c.eaa428","type":"json","z":"f2ee3c69.82ccf","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":740,"wires":[["ed6560bd.d4885"]]},{"id":"1afd8319.b34e5d","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","group":"3deaeaa9.852496","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1530,"y":120,"wires":[[]]},{"id":"8f5eb3ff.3c217","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","group":"c24a3d6d.c0049","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1530,"y":300,"wires":[[]]},{"id":"d8c36abb.4fd968","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":420,"wires":[[]]},{"id":"d1208160.17322","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":480,"wires":[[]]},{"id":"1777e4c1.69cf9b","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":540,"wires":[[]]},{"id":"c0ca093.dade7f8","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":600,"wires":[[]]},{"id":"7d805f1c.2e7dc","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":660,"wires":[[]]},{"id":"634c1226.1e5ecc","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":720,"wires":[[]]},{"id":"4e53d433.415bac","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":780,"wires":[[]]},{"id":"52ec9a52.7ba5a4","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":840,"wires":[[]]},{"id":"d45d8791.f131e8","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":960,"wires":[[]]},{"id":"53d44bab.7655b4","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":1020,"wires":[[]]},{"id":"f060aeef.e1e15","type":"ui_chart","z":"f2ee3c69.82ccf","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1530,"y":1080,"wires":[[]]},{"id":"3deaeaa9.852496","type":"ui_group","z":"","name":"Temperature [Cel]","tab":"ddb90a6d.945c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c24a3d6d.c0049","type":"ui_group","z":"","name":"Air pressure [mb]","tab":"ddb90a6d.945c08","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddb90a6d.945c08","type":"ui_tab","z":"","name":"Weather forecast","icon":"dashboard","order":9,"disabled":false,"hidden":false}]