weatherStation.json
[{"id":"91723e9b.a3911","type":"tab","label":"WeatherStation","disabled":false,"info":""},{"id":"942491ae.5f15a","type":"json","z":"91723e9b.a3911","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":420,"wires":[["5e3a822a.c39f1c"]]},{"id":"88b48d1c.3b8cb","type":"merge","z":"91723e9b.a3911","name":"","timeout":"","x":672.5,"y":221,"wires":[["6241dbd1.0058f4"]]},{"id":"ffcd49c6.bae8e8","type":"interval-length","z":"91723e9b.a3911","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":440,"y":240,"wires":[["88b48d1c.3b8cb"],[]]},{"id":"56903a44.7cf9f4","type":"moment","z":"91723e9b.a3911","name":"Date","topic":"","input":"timestamp","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":430,"y":140,"wires":[["88b48d1c.3b8cb"]]},{"id":"5a1ef1e7.2d8ec","type":"inject","z":"91723e9b.a3911","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":198,"y":197,"wires":[["56903a44.7cf9f4","ffcd49c6.bae8e8"]]},{"id":"6241dbd1.0058f4","type":"function","z":"91723e9b.a3911","name":"Data Model FIWARE","func":"var Timestamp=msg.payload[0].payload;\n\nvar IntervalRaw=msg.payload[1].payload/1000;\nvar Interval=IntervalRaw.toFixed(2);\nvar temperature=Math.random()*50;\nvar atmosphericPressure=Math.random()*1200;\nvar precipitation=Math.random()*30;\nvar humidity=Math.random()*70;\nvar windSpeed=Math.random()*50;\nvar windDirection=Math.random()*50;\nvar solarRadiation=Math.random()*10;\n\ntemperature = parseFloat(temperature.toFixed(1)) //nb de chiffres après la virgule\natmosphericPressure = parseFloat(atmosphericPressure.toFixed(1))\nprecipitation = parseFloat(precipitation.toFixed(1))\nhumidity = parseFloat(humidity.toFixed(1))\nwindSpeed = parseFloat(windSpeed.toFixed(1))\nwindDirection = parseFloat(windDirection.toFixed(1))\nsolarRadiation = parseFloat(solarRadiation.toFixed(1))\n\nmsg.payload=\n\n{\n    \"id\": \"WeatherStation:ENERGY-IMREDD-WEATHER-STATION-0001\",\n    \"type\": \"WeatherObserved\",\n\n     \"dataProvider\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \" https://www.vaisala.com/fr?gclid=Cj0KCQjwzZj2BRDVARIsABs3l9KoqY_e2I8qTnr8fLYTmjJOfkvL0ynTKas_H50HdnP-1GTwuX4SxPUaAsfKEALw_wcB \"\n\n    }, \n  \n    \"dateObserved\" : {\n\t \"type\": \"DateTime\", \n\t \"value\" : \"2020-05-21T18:00:00:00Z\"\n\n    },\n\n    \"temperature\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"CEL\"\n\n           }\n\n        },\n\n        \"value\": temperature\n\n    }, \n\n    \"precipitation\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"HP\"\n\t\t}\n\t },\n\n\t \"value\": precipitation\n    }, \n\n    \"humidity\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"P1\"\n\n           }\n\n        },\n\n        \"value\": humidity\n    }, \n\n    \"atmosphericPressure\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"A97\"\n\n           }\n\n        },\n\n        \"value\": atmosphericPressure\n    }, \n\n    \"windSpeed\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"MTS\"\n\n           }\n\n        },\n\n        \"value\": windSpeed\n    }, \n\n    \"windDirection\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"DD\"\n\n           }\n\n        },\n\n        \"value\": windDirection\n    }, \n\n    \"solarRadiation\": {\n\n        \"type\": \"Number\",\n\n        \"metadata\": {\n\n            \"timestamp\": {\n\n                \"type\": \"DateTime\",\n\n                \"value\": Timestamp\n\n            },\n\n            \"measurementType\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"instant\"\n\n            },\n\n            \"measurementInterval\": {\n                \n                \"type\": \"Number\",\n\n                \"value\": Interval\n                \n            },\n\n            \"defaultUnit\": {\n                \n                \"type\": \"Text\",\n\n                \"value\": \"D54\"\n\n           }\n\n        },\n\n        \"value\": solarRadiation\t\t\n\n    },  \n\t \"location\": {\n\n        \"type\": \"geo:json\",\n\n        \"value\": {\n\n            \"type\": \"Point\",\n\n            \"coordinates\": [\n\n                7.202473,\n\n                43.68388\n\n            ]\n\n        }\n\t\n    },\n\n    \"address\": {\n\n        \"type\": \"PostalAddress\",\n\n        \"value\": {\n\n            \"streetAddress\": \"61-63 Avenue Simone Veil\",\n\n            \"postalCode\": \"06200\",\n\n            \"addressLocality\": \"Nice\",\n\n            \"addressCountry\": \"FR\"\n\n        }\n\n    },\n\n    \"dateMeteringStarted\": {\n\n        \"type\": \"DateTime\",\n\n        \"value\": \"2020-05-21T18:00:00:00Z\"\n\n    },\n\n    \"refDevice\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"Device:DEVICE-IMREDD-WEATHER-STATION-0001\"\n\n    },\n\n    \"name\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"AWS310 Vaisala WeatherStation IMREDD\"\n\n    },\n\n    \"image\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"https://www.vaisala.com/fr/products/instruments-sensors-and-other-measurement-devices/weather-stations-and-sensors/aws310\"\n\n    },\n\n    \"description\": {\n\n        \"type\": \"Text\",\n\n        \"value\": \"AWS310 WeatherStation IMREDD\"\n        \n    },\n            \n       \"areaServed\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"Nice\"\n\n    },\n        \n        \"owner\": {\n\n        \"type\": \"Text\",\n        \n        \"value\": \"IMREDD\"\n\n        \n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["942491ae.5f15a"]]},{"id":"296b90b0.dbed4","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":200,"wires":[]},{"id":"5e3a822a.c39f1c","type":"function","z":"91723e9b.a3911","name":"POST/PATCH","func":"msg.method=\"POST\"\nmsg.url=\"https://api.testnca.org/imredd/weather/observation/?api_key=NUIGfyOvhVKN0BB8S9DnHlGy8gwrueRQDHsruFEk&options=upsert\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":520,"wires":[["3c29b097.b509b","3d6f8cdf.95c924","e201ac20.0b6b6","8345780c.9e4cc8","5066ec5f.d3fef4","97ca79a8.700438","bb691aa0.3374f8","a2506991.c4e048"]]},{"id":"3c29b097.b509b","type":"http request","z":"91723e9b.a3911","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1103,"y":20,"wires":[[]]},{"id":"3d6f8cdf.95c924","type":"function","z":"91723e9b.a3911","name":"Temperature","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.temperature.value;\nmsg1.topic=\"temperature\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1123,"y":160,"wires":[["184dbce.9919b43"]]},{"id":"d659d3b9.bf5b2","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":320,"wires":[]},{"id":"e201ac20.0b6b6","type":"function","z":"91723e9b.a3911","name":"Precipitation","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.precipitation.value;\nmsg1.topic=\"precipitation\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1116,"y":280,"wires":[["381631ef.62309e"]]},{"id":"70b4b13c.79c33","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":440,"wires":[]},{"id":"5066ec5f.d3fef4","type":"function","z":"91723e9b.a3911","name":"Humidity","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.humidity.value;\nmsg1.topic=\"humidity\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1106,"y":400,"wires":[["d0b0b7e8.722958"]]},{"id":"d5331feb.ed72c","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":560,"wires":[]},{"id":"8345780c.9e4cc8","type":"function","z":"91723e9b.a3911","name":"atmosphericPressure","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.atmosphericPressure.value;\nmsg1.topic=\"atmosphericPressure\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1146,"y":520,"wires":[["4cf3b92.eb56e48"]]},{"id":"c08cc72e.348ad8","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":680,"wires":[]},{"id":"97ca79a8.700438","type":"function","z":"91723e9b.a3911","name":"windSpeed","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.windSpeed.value;\nmsg1.topic=\"windSpeed\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1116,"y":640,"wires":[["af14aef7.277cb"]]},{"id":"63547668.c27258","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":800,"wires":[]},{"id":"bb691aa0.3374f8","type":"function","z":"91723e9b.a3911","name":"windDirection","func":"var msg2={};\n\n\nmsg2.payload=msg.payload.windDirection.value;\nmsg2.topic=\"windDirection\";\n\n\nreturn msg2;","outputs":1,"noerr":0,"x":1126,"y":760,"wires":[["d8c21127.5737a","4ca75051.9fe9d"]]},{"id":"d18ade13.9e32c","type":"debug","z":"91723e9b.a3911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":940,"wires":[]},{"id":"a2506991.c4e048","type":"function","z":"91723e9b.a3911","name":"solarRadiation","func":"var msg1={};\n\n\nmsg1.payload=msg.payload.solarRadiation.value;\nmsg1.topic=\"solarRadiation\";\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1121,"y":894,"wires":[["4b6a02f0.876c3c"]]},{"id":"184dbce.9919b43","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"380c2753.5005d8","order":1,"width":11,"height":6,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ea50d","#aec7e8","#ff7f0e","#089b12","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":160,"wires":[[]]},{"id":"381631ef.62309e","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"91649349.055e9","order":1,"width":11,"height":6,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#99bae5","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":280,"wires":[[]]},{"id":"d0b0b7e8.722958","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"ac762d0c.2d0fc","order":1,"width":11,"height":6,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#222426","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":400,"wires":[[]]},{"id":"4cf3b92.eb56e48","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"2b821361.79357c","order":1,"width":11,"height":6,"label":" ","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#7519d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8027d3","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1371,"y":520,"wires":[[]]},{"id":"af14aef7.277cb","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"d42348bd.5f3778","order":1,"width":11,"height":6,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0ba3b7","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":640,"wires":[[]]},{"id":"d8c21127.5737a","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"26456c54.7a2804","order":1,"width":11,"height":6,"label":" ","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4a8761","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e01f1f","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":760,"wires":[[]]},{"id":"4b6a02f0.876c3c","type":"ui_chart","z":"91723e9b.a3911","name":"","group":"f734ae80.b6749","order":1,"width":11,"height":6,"label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f65f1e","#aec7e8","#da8610","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1369,"y":894,"wires":[[]]},{"id":"4ca75051.9fe9d","type":"ui_gauge","z":"91723e9b.a3911","name":"","group":"d42348bd.5f3778","order":1,"width":0,"height":0,"gtype":"wave","title":"Wind speed gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":840,"wires":[]},{"id":"380c2753.5005d8","type":"ui_group","z":"","name":"temperature","tab":"3326a36.8dc2e5c","order":1,"disp":true,"width":"11","collapse":false},{"id":"91649349.055e9","type":"ui_group","z":"","name":"precipitation","tab":"3326a36.8dc2e5c","order":2,"disp":true,"width":11,"collapse":false},{"id":"ac762d0c.2d0fc","type":"ui_group","z":"","name":"humidity","tab":"3326a36.8dc2e5c","order":3,"disp":true,"width":"11","collapse":false},{"id":"2b821361.79357c","type":"ui_group","z":"","name":"atmospheric pressure","tab":"3326a36.8dc2e5c","order":4,"disp":true,"width":11,"collapse":false},{"id":"d42348bd.5f3778","type":"ui_group","z":"","name":"wind speed","tab":"3326a36.8dc2e5c","order":5,"disp":true,"width":"11","collapse":false},{"id":"26456c54.7a2804","type":"ui_group","z":"","name":"wind direction","tab":"3326a36.8dc2e5c","order":6,"disp":true,"width":11,"collapse":false},{"id":"f734ae80.b6749","type":"ui_group","z":"","name":"solar irradiation","tab":"3326a36.8dc2e5c","order":7,"disp":true,"width":11,"collapse":false},{"id":"3326a36.8dc2e5c","type":"ui_tab","z":"","name":"Weather station","icon":"dashboard","order":3,"disabled":false,"hidden":false}]